.footer {
  color: var(--text-secondary);
  padding: 70px 4% 20px;
  margin-top: 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.socialLink {
  color: white;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.linkColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.link:hover {
  text-decoration: underline;
}

.serviceCode {
  background: transparent;
  border: 1px solid var(--text-secondary);
  color: var(--text-secondary);
  padding: 8px 12px;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.copyright {
  font-size: 0.8rem;
}

@media (max-width: 740px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .links {
    grid-template-columns: 1fr;
  }
}
